/* Header Start - Logo/Search/Log In */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter
}

header {
    display:flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.nav-left {
    display:inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    width: 50%;
}
.logo img {
    width: 100px;
    height: 35px;
    padding-top: 15px;
}
.search-bar {
    display: flex;
    justify-content: flex-end;
    width: 675px;
    margin-left: 50px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    height: 44px;
    align-items: center;
}
#vertical-line {
    padding-right: 10px;
}
.search-bar span{
    padding-right: 25px;
}
.search-input{
    height: 36px;
    font-size: 18px;
    flex: 1;
    width: 450px;
    outline: none;
    border: none;
}

.nav-right {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}
.google-app-button {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
.nav-right a{
    text-decoration: none;
}
.nav-button {
    margin-right: 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background:#1a73e8;
    vertical-align: center;
    color: white;
    border-radius: 4px;
}
/* Header End */

/* Option Bar Start */
.option-area{
    margin-top: 15px;
    width: 825px;
}
.option-bar {
    display:flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    font-family: arial;
    height: 36px;
}
a {
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    padding: 0px 6px;
    color: rgb(82, 82, 82);
}
.material-icons, .material-icons-outlined{
}
span {
    width: 16px;
    height: 16px;
    padding-right: 6px;
}
.sell{
    transform:scaleX(-1);
}